@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*----------------- Slider ------------------ */

.slider{
    height: 500px;
    width: 85%;
    margin-left: 8%;
    margin-top: 60px;
    /* border: 3px solid #377E47; */
    overflow: hidden;
}

.images{
    width: 400%;
    height: 100%;
}

.images img{
    width: 25%;
    height: 100%;
    transition-delay: 0.2s;
    border-radius: 11px;
}

.buttons{
    height: max-content;
    display: flex;
    margin-left: 44%;
}

.buttons label{
    margin-left: 7.5px;
    justify-content: center;
    background-color:#3c3c3c;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid #3c3c3c;
    margin-top: 13px;  
}


/* --------------Recipes----------------- */


h1{
    text-align: center;
    margin-top: 9.5%;
}

.recipes{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50%;
    width: 85%;
    border: #125c78 1px;
    margin-top: 3%;
    margin-left: 8%;
}

.recipe img{
    width: 392px;
    height: 510px; 
    border-radius: 11px;
}

.recipe :last-child{
    font-size: 25px;
    padding-top: 5px;
    color: black;
    text-decoration: none;
}

.recipe :last-child:hover{
    text-decoration: underline;
}
