*{
    padding: 0;
    margin: 0;
}


/* ---------------Register--------------- */


.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,rgb(227, 158, 75), rgb(234, 164, 159));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    opacity: 4;
}

.main-container{
    width: 500px;
    margin: 65px auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
}

h1{
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

.content{
    padding: 35px;
    text-align: center;
}

input{
    margin: 12px 5px;
    font-size: 16px;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #747474;
    transition: all .2s;
}

input:focus{
    border-color: #222;
}

.action{
    display: flex;
    flex-direction: row;
    font-weight: 300;
}

.action a, button{
    border: none;
    padding: 17px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    color: #777;
    letter-spacing: .2px;
    outline: 0;
    transition: all .3px;
}

.action a{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    background-color: #e8e9ec;
}

.action a:hover{
    background-color: #d8d8d8;
}

.action :nth-child(2){
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.action :nth-child(2):hover{
    background-color: #3c4d6d;
}



.content span{
    position: relative;
    bottom: 12px; 
    right: 17px;
    text-align: start;
    font-size: 14px;
    color: red;
}

.action span{
    position: absolute;
    bottom: 12px; 
    right: 17px;
    text-align: start;
    font-size: 14px;
    color: red;
}

